@{
    ViewData["Title"] = "Main Page";
}

 <div class="main-form">
        <div class="row">
            <div class="col-md-6">
                <div class="main-image-container"></div>
            </div>
            <div class="col-md-6">
                    <h1 class="registration-heading">Book Universe</h1>
                   <p class="site-description">Digital platform that offers easy and convenient access to a wide range of educational and recreational resources, primarily books and other written materials.
                       <br/>
                       <br>BOOKS
                       <br>GIVE A SOUL
                       <br>TO THE UNIVERSE,
                       <br>WINGS TO THE MIND,
                       <br>FLIGHT TO THE
                       <br>IMAGINATION,
                       <br>AND LIFE TO
                       <br>EVERYTHING.</p>

            </div>
        </div>
    </div>
