@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<div id="app">
    <div class="table-form">
        <div class="content">
            <div class="registration-heading">
                <h1>All Books</h1>
            </div>
            <div class="data-grid">
                <table  id="myTable">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>NumberOfPages</th>
                        <th>Rating</th>
                    </tr>
                    <tr>
                        <td>Test2</td>
                        <td>Test2</td>
                        <td>345</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Test3</td>
                        <td>Test3</td>
                        <td>123</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Test4</td>
                        <td>Test4</td>
                        <td>442</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Test5</td>
                        <td>Test5</td>
                        <td>121</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Test5</td>
                        <td>Test5</td>
                        <td>121</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Test5</td>
                        <td>Test5</td>
                        <td>121</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Test5</td>
                        <td>Test5</td>
                        <td>121</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Test5</td>
                        <td>Test5</td>
                        <td>121</td>
                        <td>4</td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <button id="prevBtn" class="btn btn-outline-secondary">Previous</button>
                <button  id="nextBtn" class="btn btn-outline-secondary">Next</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/home.js" asp-append-version="true"></script>

