@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<div>
    <div class="container2">
        <div class="content">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>You have successfully confirmed your account</h2>
            </div>
        </div>
    </div>
</div>
