@{
    ViewData["Title"] = "Forgot password Page";
}
@using BookUniverse.Application.DTOs.UserDTOs;
@model ForgotPasswordDto
<div class="main-form">
    <div class="row">
        <div class="col-md-6">
            <div class="image-section-fp"></div>
        </div>
        <div class="col-md-6">
            <h1 class="registration-heading">Book Universe</h1>
            <h2 class="registration-subheading">Restore password</h2>
            <p class="site-description">Input your email and wait for link for restoring your password</p>
            <form class="justify-content-center" asp-action="ForgotPassword" asp-controller="Auth" method="post">
                <div>
                    <div class="d-flex flex-column">
                        <input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="Email" required>
                    </div>
                </div>
                <button class="btn btn-outline-secondary" onclick="redirectToConfirmPage()" id="forgotPassBtn">Confirm email</button>
            </form>
        </div>
    </div>
</div>

<script>
    function redirectToConfirmPage() {
        window.location.href = '@Url.Action("ForgotPasswordConfirmation", "Auth")';
    }
    
</script>