@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/confirm.css" />
</head>
<body>
    <div class="container2">
        <div class="content">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>A password recovery email has been sent to your email</h2>
                <p>Please check your mailbox and follow the steps in the email to reset your password.</p>

            </div>
        </div>
    </div>
</body>
</html>

