@using BookUniverse.Application.DTOs.UserDTOs;
@model LoginDto

@{
    ViewData["Title"] = "LogIn Page";
}

<div class="registration-container">
    <div class="registration-form">
        <h1 class="registration-heading">Book Universe</h1>
        <p class="registration-subheading">Sign in to continue</p>
        <form id="signin-form" asp-action="SignIn" asp-controller="Auth" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input asp-for="Username" type="text" id="username" class="form-control form-control-lg" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input asp-for="Password" type="password" id="password" class="form-control form-control-lg" placeholder="Enter your password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-secondary" onclick="redirectToSignInPage()">Sign In</button>
            </div>
            <div class="d-flex justify-content-center forgot-pass">
                <button type="submit" class="btn btn-outline-secondary" onclick="redirectToForgotPage()">Forgot password</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/signIn.js" asp-append-version="true"></script>
<script>
    function redirectToForgotPage() {
        window.location.href = '@Url.Action("ForgotPassPage", "Auth")';
    }
    function redirectToSignInPage() {
        var username = document.getElementById("username").value.trim();
        var password = document.getElementById("password").value.trim();

        if (username === "" || password === "") {
            showModal("Please fill in all fields.");
            return;
        }
    }
</script>

@Html.Partial("/Views/Shared/ModalWindow.cshtml")