@{
ViewData["Title"] = "Registration Page";
}

<div class="registration-container">
    <div class="registration-form">
        <h1 class="registration-heading">Book Universe</h1>
        <p class="registration-subheading">Sign up to create your account.</p>
        <form id="signup-form" asp-action="HomePage" asp-controller="Book" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Enter your password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-secondary" onclick="redirectToSignUpPage()">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/registr.js" asp-append-version="true"></script>
<script>
    function redirectToSignUpPage() {
        var username = document.getElementById("username").value.trim();
        var email = document.getElementById("email").value.trim();
        var password = document.getElementById("password").value.trim();

        if (username === "" || email === "" || password === "") {
            alert("Please fill in all fields.");
            return;
        }

        window.location.href = '@Url.Action("HomePage", "Book")';
    }
</script>

