@using BookUniverse.Application.DTOs.UserDTOs;
@model ResetPasswordDto
@{
    ViewData["Title"] = "Reset password";
}

<div class="main-form">
    <div class="row">
        <div class="col-md-6">
            <div class="image-section-fp"></div>
        </div>
        <div class="col-md-6">
            <h1 class="registration-heading">Book Universe</h1>
            <h2 class="registration-subheading">Reset your password</h2>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden"/>
                <div class="form-group">
                    <input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Password" required/>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Confirm password" required/>
                </div>
                <button type="submit" class="btn btn-outline-secondary">Reset</button>
            </form>
        </div>
    </div>
</div>

