
.container2 {
    display: flex;
    width: 90%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Зміщує контейнер на половину його власної ширини та висоти */
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    bottom: 50rem;
}

    .container .content {
        text-align: center;
    }
.text-center{
    margin-top: -10rem;
}

