@{
    ViewData["Title"] = "Read Book Page";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<div id="app">
    <div class="my-frame">
        <iframe src=@ViewBag.BookLink id="myIframe" style="width: 100%; height: 100%; max-width: 70rem; border: none;"></iframe>   
    </div>
</div>

<script>
</script>


