<ul class="navbar-nav">
@if (true)
{
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Auth" asp-action="LogIn">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Sign In</button>
            </form>
        </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Auth" asp-action="Registration">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Sign Up</button>
        </form>
    </li>
}
</ul>
